html {
    /*overflow: -moz-scrollbars-vertical !important;*/
    overflow-y: scroll;
    font-size: 100%; /*sets 1em equal to users default text size*/
}
html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: 1em; /*sets 1em equal to users default text size - 16px in ff, chrome etc*/
    line-height: 1.125em;
    height: 100%;
    overflow: visible;
}

/* Headings */
h1, h2, h3, h4, h5 {
    font-family: "Trebuchet MS",Helvetica,Verdana,Arial,sans-serif;
    color: #002b5f;
}

h1 {
	color: white;
    font-size: 2em;
    font-weight: bold;
    margin: 1em;
    line-height: normal;
}

h2 {
    font-size:1.5em;
    margin: 0;
}

h3 {
    font-size:1em;
    margin: 0;
}

h4 {
    font-size:0.7em;
}

p {
    font-size: 0.85em;
}

/* Links */

a, a:visited {
    color: #003060;
    text-decoration: none;
}

a:hover {
    color: #305070;
    text-decoration: underline;
}

a img {
    border: 0;
}

ul {
	margin: 0;
	padding: 0;
}

table th {
    text-align: center;
    background-color: #f0f8ff;
    color: #505050;
}

tbody th {
    text-align: right;
    vertical-align: top;
}

table, table th, table td {
    border-collapse: collapse;
    padding: 0;
    margin-top: 0;
    text-align: center;
    vertical-align: top;
}

fieldset {
    padding: 0 0.8em 0.8em;
    border: 1px solid #d5d5d5;
}

legend {
    font-size: 1em;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}