/*Do not add other styles to these floats*/
.left_float {
    float:left;
}
.right_float {
    float:right;
}
.left {
    float: left;
    margin: 0.5em 0.5em 0.5em 0;
}

.right {
    float: right;
    margin: 0.5em 0 0.5em 0.5em;
}

.clear {
    clear: both;
}
/*End floats*/

.print {
    display:none;
}

#wrapper {
    min-height: 95%;
    margin: 0 auto;
    padding: 0 0 5%;
    width: 75%;
}

#main {
	diplay: table;
    overflow:auto;
}

#footer {
	margin: 0 auto;
    padding: 0;
    width: 75%;
    height: 5%;
    border-top: 1px solid #586878;
    text-align:right;
}

/*Header settings*/
#header {
    border-bottom: 1px solid #586878;
    text-align:left;
    overflow: auto;
    width: 100%;
}

.header_logo {
	width: 60%;
	float: left;
}

#header .leftImage {
    float:left;
    line-height:normal;
    position:relative;
    z-index:1;
}

#header .rightImage {
    float:right;
    line-height:normal;
    position:relative;
    z-index:1;
}

#loginLogout {
    float:right;
    width: 35%;
}

#loginLogout dd, #loginLogout dt{
	display: inline;
}

#horizNav {
    line-height: normal;
    background: #1e5799; /* browser w/o gradient */
    background: linear-gradient(to bottom, #a02020 0%,#b03030 32%,#c04040 66%,#d06060 100%); /* W3C */
    border-bottom: 1px solid #202040;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

#horizNav ul {
	margin: 0 auto;
}

#horizNav li {
    display: inline-block;
    /*float: left;*/
}

#horizNav li a {
    display:block;
    overflow:hidden;
    padding: 0.5em;
}

#vertiNav {
	height: auto !important; /* ie6 ignores !important, so this will be overridden below */
    height: 100%;
    min-height: 100%;
    margin: 1em;
    float: left;
    line-height: normal;
    width: 20%;
    text-align: center;
}

#vertiNav li {
    display:block;
}

#vertiNav li a {
    display:block;
    overflow:hidden;
    padding: 0.5em;
}

#vertiNav li a:hover {
    background: PaleTurquoise;
}

#content {
	margin: 1em 1em 1em 25%;
	padding: 1em;
}

#scheduleContainer {
	width: 100%;
    border-collapse: separate;
    border-spacing: 0.2em;
}

#scheduleContainer td {
	border-radius: 0.25em;
	background-color: LightSlateGray;
	vertical-align: middle;
	padding: 0.2em;
}

#scheduleContainer th {
    border-radius: 0.4em;
    background-color: LightBlue ;
    vertical-align: middle;
    padding: 0.2em;
}

.sched_CourseDetails {
	min-width: 10%;
}

.sched_CourseDateBar {
	width: 50%
}

.sched_AllCoursesRange{
	height: 1em;
	margin: auto 0;
	padding: 0.25em;
}

.sched_CourseRange {
	height: 100%;
}

.sched_CourseDetail h4, .schedCourseDetail p {
	display: inline-block;
	width: 30%;
	margin: 0;
}

.sched_Status {
    width: 10%;
}

.sched_Paid, .sched_Unpaid {
	display: block;
	width: 1em;
	height: 1em;
	margin: 0 auto;
	border-radius: 0.5em;
}

.sched_Paid {
    background-color: green;
}

.sched_Unpaid {
    background-color: red;
}

section {
	padding: 1em;
	margin: 1em;
	width: 40%;
	float: left;
}

#address {
	float: left;
}

#mapContainer {
	float: right;
}

#content ul {
	list-style: none;
	
}
.categoryPanel, .categoryPanelRight {
	diplay: inline-block;
	width: 45%;
	height: 3em;
	margin: 0.5em 0;
	text-align: center;
	border-radius: 1.5em;
    backGround-color: CadetBlue;
    border: 0.5em solid gray;
    float: left;
}

.categoryPanelRight {
	float: right;
}

.categoryPanel a {
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 1em;
}

.categoryPanel:hover {
	background-color: SkyBlue;
}

.lecturerCard {
	padding: 1em;
	margin: 1em;
}

.profilePic {
	display: block;
	float: right;
	width: 5em;
	height: 5em;
}

#addCourse {
	width: 85%;
}