body {
    background: #f3f3f3;
}

section {
	border: 1px solid gray;
	border-radius: 1em;
	margin: 1em 0;
}

#wrapper {
	background: white;
}

#header {
    background: #a02020;
    color: #5d6e9c;
}
#header input {
    color: #444444;
}
#header a {
    color: #ffffff;
    text-decoration: none;
}

#horizNav {
    color: #224488;
}

#horizNav li a:hover {
    background-color: DeepSkyBlue;
    color:#f0f0f0;
}

#horizNav li a {
    background: url(/img/nav/horizNav-pipe.jpg) repeat-x scroll 0 0;
    color:#ffffff;
    text-decoration:none !important;
}

#horizNav a.selected {
    background: url(/inc/img/top-nav-selected.jpg) repeat-x;
}

#horizNav a {
    color: #eeeeee;
    font-weight: normal;
    text-decoration: none;
}

#vertiNav {
	border-radius: 1em;
	text-transform: uppercase;
    background: azure;
}

#vertiNav li.selected {
    background: #b8d0f0;
}

.intro {
    font-style: italic;
    font-family: Verdana,Helvetica,Arial,Sans-serif;
    color: #303030;
    line-height: 1.5em;
}

.external:after {
    content: " " url('/inc/img/external.png');
}

/*End top navigation settings*/




/*Footer styling*/
#footer {
    text-align: right;
    background: #a02020;
}
#footer a {
    color: #ffffff;
    text-decoration: none;
}
/*End footer styling*/

#content img.noborder {
    border: 0;
}

#content p  {
    line-height: 1.5em;
}

.sched_AllCoursesRange {
    background-color: LightSteelBlue;
    border-radius: 0.3em
}

.sched_AllCoursesRange .conflict {
	background-color: IndianRed;
	border-radius: 0.25em;
}

.sched_AllCoursesRange .noConflict {
    background-color: DarkSeaGreen;
    border-radius: 0.25em;
}

caption {
    background-color: #2E4C6F;
    color: white;
}

.register form {
  border: 1px solid silver;
  padding: 1em;
}

.hidden {
    display: none;
}

/*Site map styles*/
.sitemap {
    font-size:0.6em;
}


/* 
    display link file type for docs 
*/

a[href$='.pdf']:after {
    content: " (PDF)";
}

a[href$='.doc']:after {
    content: " (MS Word)";
}

a[href$='.xls']:after {
    content: " (Excel)";
}

.lecturerCard {
	border-radius: 2em;
	background-color: #DCDCDC;
}

.feedback {
	background-color: yellow;
}

#editCourse label {
	font-size:0.6em;
	margin-left:4em;
}